*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/*========== NAV ==========*/

nav{
    background: #fbefa2;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 999;
}

label.logo{
    color: black;
    font-size: 40px;
    line-height: 80px;
    padding-left: 90px;
    font-weight: bold;
    font-style: italic;
    font-family: cur;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: #f9e66c;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/*========== HEADER ==========*/

#header h1{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    color: #ef7c8e;
    background-color: #b6e2d3;
}

#header p{
    margin: 0;
    text-align: center;
    color: #ef7c8e;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    background-color: #b6e2d3;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

/*========== MAIN ==========*/

#main h1{
    margin: 0;
    background-color: #fbefa2;
    padding-top: 25px;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

#box1{
    float: left;
    width: 30%;
    background-color: #fbefa2;
    padding-left: 100px;
    padding-top: 40px;
}

#box2{
    float: left;
    width: 30%;
    background-color: #fbefa2;
    padding-left: 50px;
    padding-top: 40px;
}

#box3{
    float: left;
    width: 30%;
    background-color: #fbefa2;
    padding-left: 40px;
    padding-top: 40px;
}

/*====== MAIN TEXT HEADING =====*/

#box1 h2{
    padding-left: 59px;
    text-transform: uppercase;
    color: black;
    font-size: 30px;
}

#box2 h2{
    padding-left: 59px;
    text-transform: uppercase;
    color: black;
    font-size: 30px;
}

#box3 h2{
    padding-left: 59px;
    text-transform: uppercase;
    color: black;
    font-size: 30px;
}

/*===== MAIN TEXT PARAGRAPH =====*/

#box1 p{
    padding-right: 115px;
    padding-top: 20px;
    text-align: center;
    color: black;
    text-transform: uppercase;
}

#box2 p{
    padding-right: 115px;
    padding-top: 20px;
    text-align: center;
    color: black;
    text-transform: uppercase;
}

#box3 p{
    padding-right: 115px;
    padding-top: 20px;
    text-align: center;
    color: black;
    text-transform: uppercase;
}

/*===== MAIN TEXT LISTS =====*/

#box1 ul{
    padding-right: 125px;
    text-align: center;
    color: black;
}

#box1 ul li{
    padding-top: 20px;
}

#box2 ul{
    padding-right: 125px;
    text-align: center;
    color: black;
}

#box2 ul li{
    padding-top: 20px;
}

#box3 ul{
    padding-right: 125px;
    text-align: center;
    color: black;
}

#box3 ul li{
    padding-top: 20px;
}

/*========== COPYRIGHT ==========*/

#copyright{
    height: 150px;
    background-color: #b6e2d3;
    width: 100%;
    text-align: center;
    clear: both;
    padding-top: 55px;
}

#copyright p{
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ef7c8e;
    font-weight: 600;
    padding-left: 10px;
}

/*========== MAIN MENU ==========*/

#main{
    background-color: #fbefa2;
}

.main-menu{
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fbefa2;
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border: 4px solid black;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 40px;
    margin-right: 30px;
    margin-left: 30px;
}

.main-menu-1{
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fbefa2;
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border: 4px solid black;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 60px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 80px;
}

/*========== CONTACT ==========*/

#contact{
    background-color: #fbefa2;
    padding-bottom: 30px;
}

#contact img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label{
    font-size: 20px;
    font-weight: bold;
}

input{
    border: none;
    border-bottom: 3px solid black;
    background: transparent;
}

textarea{
    border: none;
    border-bottom: 3px solid black;
    background: transparent;
}

#submitBtn{
    display: block;
    margin: auto;
    font-size: 23px;
    background-color: black;
    padding: 5px;
    color: #fbefa2;
    border-radius: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

form{
    text-align: center;
}

/*========== MAP ==========*/

#map iframe{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map{
    background-color: #fbefa2;
    padding-bottom: 30px;
}

/*========== ADDRESS ==========*/

#address{
    background-color: #fbefa2;
}

#address-1{
    background-color: #fbefa2;
}

#address-2{
    background-color: #fbefa2;
}

#insta{
    background-color: #fbefa2;
}

.fa-solid.fa-location-dot{
    font-size: 30px;
    padding-left: 123px;
}

#address h4{
    float: right;
    padding-top: 7px;
    padding-right: 123px;
    text-transform: uppercase;
}

#address p{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 5px;
}

.fa-solid.fa-phone{
    font-size: 30px;
    padding-left: 116px;
}

#address-1 h4{
    float: right;
    padding-top: 7px;
    padding-right: 116px;
    text-transform: uppercase;
}

#address-1 p{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 5px;
}

.fa-solid.fa-envelope{
    font-size: 30px;
    padding-left: 115px;
}

#address-2 h4{
    float: right;
    padding-top: 7px;
    padding-right: 115px;
    text-transform: uppercase;
}

#address-2 p{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 5px;
}

#insta h3{
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 10px;
}

#insta a{
    color: black;
    font-size: 35px;
    padding-left: 180px;
}

/*==================== RESPONSIVE LAYOUT ====================*/

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fbefa2;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    
    nav ul li a{
        font-size: 20px;
    }
    
    a:hover,a.active{
        background: none;
        color: #ffdd00;
    }
    
    #check:checked ~ ul{
        left: 0;
    }
    
    #main{
        display: flex;
        flex-direction: column;
    }
    
    #box1{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    #box2{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    #box3{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    #box1 img{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 90%;
        padding-top: 20px;
    }
    
    #box2 img{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 90%;
        padding-top: 20px;
    }
    
    #box3 img{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 90%;
        padding-top: 20px;
    }
    
    #box1 h2{
        text-align: center;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    #box2 h2{
        text-align: center;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    #box3 h2{
        text-align: center;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    #box1 p{
        padding: 0;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
    }
    
    #box2 p{
        padding: 0;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
    }
    
    #box3 p{
        padding: 0;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
    }
    
    #box1 ul{
        padding: 0;
        padding-right: 50px;
        padding-left: 50px;
        list-style-type: none;
    }
    
    #box1 ul li{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    #box2 ul{
        padding: 0;
        padding-right: 50px;
        padding-left: 50px;
        list-style-type: none;
    }
    
    #box2 ul li{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    #box3 ul{
        padding: 0;
        padding-right: 50px;
        padding-left: 50px;
        list-style-type: none;
    }
    
    #box3 ul li{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}